[Unit]
Description=Beacon 0
[Service]
ExecStart=/bin/bash /home/adigium/eth-pos-devnet/scripts/start_beacon_0.sh
StandardOutput=append:/home/adigium/eth-pos-devnet/logs/beacon_0.log
RemainAfterExit=no
Restart=always
RestartSec=5s
[Install]
WantedBy=default.target
