[Unit]
Description=Geth 1
[Service]
ExecStart=/bin/bash /home/adigium/eth-pos-devnet/scripts/start_geth_1.sh
StandardOutput=append:/home/adigium/eth-pos-devnet/logs/geth_1.log
RemainAfterExit=no
Restart=always
RestartSec=5s
[Install]
WantedBy=default.target
